<footer>
    <section>
        &copy; {{currentYear}} By Mei | WhatsApp: <a href="https://wa.me/50496425587" target="_blank">+504 9642-5587</a> | 
        Instagram: <a href="https://www.instagram.com/bymei.hn?igsh=MWc3emd2eGpoYXlqdg==" target="_blank">@bymei.hn</a>
    </section>
</footer>