<div class="galeria-grid">
    {{#each items}}
        <div class="galeria-item">
            <img src="{{img}}" alt="{{alt}}" />
            <p>{{descripcion}}</p>
        </div>
    {{/each}}
</div>